# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/
.packages/

# IDEs
.vscode/
.idea/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data and Models (Optional: keep if you want to share them)
# data/processed/
# models/*.pkl

# OS files
.DS_Store
Thumbs.db

# Jupyter/IPython
.ipynb_checkpoints
.ipython/
.jupyter/
.jupyter-data/
.jupyter-runtime/
